---
---

<div class="relative w-full h-[424px] bg-gray-200 rounded-lg">
  <canvas id="inline-canvas" width="500" height="400" style="width: 100%; height: 100%;"></canvas>
</div>

<script is:inline>
  // Get the canvas immediately
  (function() {
    console.log("Inline script running");
    const canvas = document.getElementById('inline-canvas');
    
    if (!canvas) {
      console.error("Canvas element not found!");
      return;
    }
    
    console.log("Canvas found, getting context");
    const ctx = canvas.getContext('2d');
    
    if (!ctx) {
      console.error("Couldn't get canvas context!");
      return;
    }
    
    console.log("Drawing on canvas");
    
    // Fill background
    ctx.fillStyle = '#333';
    ctx.fillRect(0, 0, canvas.width, canvas.height);
    
    // Draw text
    ctx.font = '48px Arial';
    ctx.fillStyle = '#ff0000';
    ctx.textAlign = 'center';
    ctx.textBaseline = 'middle';
    ctx.fillText('GTM', canvas.width/2, canvas.height/2);
    
    console.log("Canvas drawing complete");
  })();
</script>
